

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.initials {
    font-size: 16px;
    text-align: center;
}














