<!doctype html>
<html class="no-js" lang="" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

    <body ng-controller="PageController as page">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/app.js"></script>



    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">This is bad design</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Add up your age</h2>
          <p>I am {{page.number}} years old.</p>
          <button class="btn btn-default" ng-click="page.incrementNumber(1)">Add 1</button>

          <button class="btn btn-default" ng-click="page.incrementNumber(2)">Add 2</button>

          <button class="btn btn-default" ng-click="page.incrementNumber(3)">Add 3</button>
          
        </div>
        <div class="col-md-4">
          <h2>Enter your name</h2>
          <div class="span12 text-center">
            <span class="initials">{{page.initialsText[0]}}</span>
            <span class="initials">{{page.initialsText[1]}}</span>
            <span class="initials">{{page.initialsText[2]}}</span>
          
          <br>
          <button class="btn btn-primary" ng-click="page.incrementCharacter()" ng-init="page.setCharacters()">Up</button>
          <button class="btn btn-warning" ng-click="page.decrementCharacter()">Down</button>
          <button class="btn btn-default" ng-click="page.nextInitial()">Next</button>
          </div>
       </div>
        <div class="col-md-4">
          <h2>Enter your phone number</h2>
          <select>
            <option ng-repeat="number in page.phoneNumbers.areaCodes">{{number}}</option>
          </select>
          <select>
            <option ng-repeat="number in page.phoneNumbers.areaCodes">{{number}}</option>
          </select>
          <select>
            <option ng-repeat="number in page.phoneNumbers.lastFour">{{number}}</option>
          </select>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Bad Designes"R"Us {{page.date | date:'yyyy'}}</p>
      </footer>
    </div> <!-- /container -->        

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

    </body>
</html>
